<aside id="settings">
  <%= image_tag("right-arrow-white.png", class: "close-arrow block", alt: "Right Arrow Icon") %>
  <ul class="tabs clearfix">
    <li id="scoring-tab" class="tab light-weight selected">Scoring</li>
    <li id="search-tab" class="tab light-weight">Search</li>
  </ul>
  <div id="scoring" class="tab-content">
    <%= form_for @sheet, html: {class: "update-pt-values"} do |f| %>
      <div class="form-field block">
        <%= f.label :pass_yard_pts %>
        <%= f.text_field :pass_yard_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :pass_td_pts %>
        <%= f.text_field :pass_td_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :int_pts %>
        <%= f.text_field :int_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :rush_yard_pts %>
        <%= f.text_field :rush_yard_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :rush_td_pts %>
        <%= f.text_field :rush_td_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :rec_pts %>
        <%= f.text_field :rec_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :rec_yard_pts %>
        <%= f.text_field :rec_yard_pts %>
      </div>
      <div class="form-field block">
        <%= f.label :rec_td_pts %>
        <%= f.text_field :rec_td_pts %>
      </div>
        <%= f.submit %>
    <% end %>
  </div>
  <div id="search" class="tab-content">
    <%= form_tag("/search", method: "get", html: {class: "search-for-player"}) do %>
      <div class="form-field block">
        <%= label_tag(:name, "") %>
        <%= text_field_tag :name %>
      </div>
    <% end %>
  </div>
</aside>

<table class="players">
	<thead>
		<tr>
			<th>Rank</th>
      <th>Name</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Status</th>
      <th title="average draft position">ADP</th>
      <th title="2015 total fantasy points">2015 TtlPts</th>
      <th title="2016 projected total points">PrjPts</th>
      <th title="2016 adjusted projections">AdjPrj</th>
      <th>Bye</th>
      <th>Exp</th>
      <th>Drafted</th>
		</tr>
	</thead>
	<tbody id="sortable" class="light-weight">

    <% @players.each_with_index do |player, index| %>

      <% if player.team %>

      <% if player.draft_status(@sheet) == 'targeted' %>
        <tr id="<%= player.id %>" class="ui-state-default targeted-player">
      <% elsif player.draft_status(@sheet) == 'drafted' %>
        <tr id="<%= player.id %>" class="ui-state-default drafted-player">
      <% elsif player.draft_status(@sheet) == 'unavailable' %>
        <tr id="<%= player.id %>" class="ui-state-defaul unavailable-player">
      <% else player.draft_status(@sheet) == 'available' %>
        <tr id="<%= player.id %>" class="ui-state-default">
      <% end %>
          <td id="<%= player.rankings.find_by(sheet_id: @sheet.id).id %>" class="rank"><%= index + 1 %></td>
          <td class="normal-weight player-name" title="drag and drop to change player rank">
            <a class="player-stats" href="" title="view player stats"><%= player.name %></a>
            <td><%= player.position + player.depth_order.to_s %></td>
            <td><%= player.team %></td>
          </td>
          <td class="text-center">
            <select id="<%= player.rankings.find_by(sheet_id: @sheet.id).id %>" class="player-status light-weight">
              <option <% if player.draft_status(@sheet) == 'available' %>selected<% end %> value="available">Available</option>
              <option <% if player.draft_status(@sheet) == 'targeted' %>selected<% end %> value="targeted">Targeted</option>
              <option <% if player.draft_status(@sheet) == 'drafted' %>selected<% end %> value="drafted">Drafted</option>
              <option <% if player.draft_status(@sheet) == 'unavailable' %>selected<% end %> value="unavailable">Unavailable</option>
            </select>
          </td>
          <% if player.adp_ppr != 2000 %>
            <td><%= player.adp_ppr %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <% if player.stats_for(2015) %>
            <td><%= player.total_points(@sheet, 2015).round(2) %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td><%= player.total_points(@sheet, 2016).round(2) %></td>
          <td><%= player.adj_proj(@sheet, 2016).round(2) %></td>
          <td><%= player.bye_week %></td>
          <% if player.experience == 0 %>
            <td>Rookie</td>
          <% else %>
            <td><%= player.experience %> yrs</td>
          <% end %>
          <% if player.draft_round %>
            <td>Rd <%= player.draft_round %>, Pick <%= player.draft_pick %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
        </tr>

      <% end %>
    <% end %>

  </tbody>
</table>
