<!DOCTYPE html>
<html>
  <head>
    <title>DRAffTR | An Intelligent Fantasy Football Draft Cheatsheet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Slabo+27px" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="clearfix">
      <a class="white" href="/">
        <h1 class="light-weight">DRA<span class="effs">ff</span><span class="light-weight">TR</span></h1>
      </a>
      <% if @sheet %>
        <a class="bookmark inline-block white" href="javascript:bookmarksite('TITLE', 'URL')">Bookmark this page!</a>
        <div class="menu-button right">
          <span class="inline-block">settings</span>
          <%= image_tag("left-arrow-white.png", class: "inline-block", alt: "Menu Bars") %>
        </div>
      <% end %>
    </header>

  <%= yield %>

    <a href="#" class="scroll-to-top">
      <%= image_tag("up-arrow-white.png", class: "scroll-to_top", alt: "Scroll to Top Button") %>
    </a>
  </body>
</html>
